<form action="{{ path('program_delete', {'slug': program.slug}) }}" method="post" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cette série ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn">Supprimer</button>    
</form>